
:root{
    --gray: gray;
}
* {
    background-color: var(--gray);
    font-family: serif;
  }
  
  h2{
    padding: 20px;
    outline: solid black;
    background-color: darkcyan;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
  }
.glowbutton {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }

.glowbutton:hover {
    color: rgb(79, 16, 121);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }

  body {
    background-color: var(--gray);
    padding: 15px;
  }
  
  .adjust {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }